.container {
    min-height: 100vh;
}

.services-header-container{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/VISIO.jpg') center center/cover no-repeat;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}
.fa-ruler,
.fa-truck-moving,
.fa-comment-dots,
.fa-wallet{
    font-size: 4rem;
    border-style:solid;
    border-radius: 50%;
    border-color:#C70781 ;
    padding:20px;
    margin-bottom: 25px;
}
.h2{
    text-align: center;
}

.services-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding:10px;
}
.cardContainer{
    padding:50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    min-height:33rem;
    border-width: thin;
    border-radius: 25px;;
    padding: 50px;
    box-shadow: 0 0 15px #C6C6C6;
}
.services-text{
    margin-top:25px;
    font-size: 18px;;
    text-align: center;
    max-width: 150px;
    color: #464646
}